body{
background:#0d1b2a;
color:white;
text-align:center;
font-family:Arial;
margin-top:100px;
}

input{
padding:15px;
width:250px;
border-radius:20px;
border:none;
}

button{
padding:15px 25px;
border:none;
border-radius:20px;
background:#2ea8ff;
color:white;
cursor:pointer;
}
